
*{
    margin: 0;
    padding: 0;
}
.bv{
    height: 50px;
     outline: none;
      border: none;
      font-size: 30px;
      font-weight: 900;
      pointer-events: none  ;
}
.bb{
    background-color: rgb(94, 90, 90);
}
.bb:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.ii{
    color: white;
    background-color: rgb(27, 18, 18);
}

.ii:hover{
    background-color: rgb(187, 24, 24);
    color: white;
}